<nav class="nav-container">
    <div class="nav-brand">
        <%= link_to root_path do %>
        <%= image_tag "Flight.jpg", class: "navbar-image" %>
        <% end %>
        <h1 class="title"> A</h1>
        <h2>
        <span>
            <%= link_to "ALBURO", root_path, style: "color: #db0303; text-decoration: none "%>        </span , root_path></h2>
        <%# link all posts  %>
        
            <span><h3><%= link_to "Flight", root_path%></h3><span>
    
    </div>

  
</nav>
