<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <style>
  /* Add CSS styles here */
  body {
    font-family: Arial, sans-serif;
  }

  h1 {
    height: 50px; /* This sets the height of the header to 50 pixels */
    font-size: 24px; /* This sets the font size of the header text */
  }
</style>
    <%= yield %>
  </body>
</html>
